<div class="row">
  <h1>Search Results for <i><%= query %></i></h1>
</div><br>
<div class="row">
  <% if (results.length > 0) { %>
    <% for (var i = 0; i < results.length; i++) { %>
      <div class="media">
        <div class="media-left">
          <img src="<%= ProfileService.get_gravatar(results[i].owner.email) %>" height="50" class="img-circle">
        </div>
        <div class="media-body">
          <a href="/event/<%= results[i].id %>"><h3 class="media-heading"><%= results[i].name %></h3></a>
          <%= results[i].desc %>
        </div>
      </div>
    <% } %>
  <% } else { %>
    <h3><i>No results found</i></h3>
  <% } %>
</div>